# 의존성
/node_modules
/node_modules/*

# 빌드 결과물
/dist
/dist/*

# 로그 파일
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# 테스트 결과물
/coverage
/coverage/*
/.nyc_output

# IDEs 및 에디터
/.idea
/.vscode/*
!/.vscode/extensions.json
!/.vscode/settings.json

# 환경 변수
.env
.env.*
!.env.example

# OS
.DS_Store

# NestJS 관련
.nestjs_repl_history

# TypeScript 증분 컴파일 캐시
/*.tsbuildinfo 